body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #262658;
    color: white;
}
html {
    height: 100% !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 800px;
}

.body-content{
    padding-top: 50px
}
.jumbotron{
    padding-bottom: 50px;
}
.footer_div {
    position: relative;
    bottom: 0;
    width: 100%;
}

#stock_name {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.search_btn {
    background: white;
    border-radius: 20%;
}

#chartContainer {
    height: 450px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}