{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{brand_name}}</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="input-group rounded">
            <h3>What you're up to?</h3><br />

            <input type="text" id="stock_name" name="stock_name" placeholder="Stock name" class="form-control rounded" aria-label="Stock name"/>

            <button onclick="stock_info_click()" class="btn btn-light search_btn"><i class="bi bi-search"></i></button>

            <button onclick="stock_signals_click()" class="btn btn-light search_btn"><i class="bi bi-lightbulb"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div id="chartContainer"></div>
</div>
<div class="row">
    <div id="imageContainer">
        <img id="imageSignals">
    </div>
</div>
{% endblock %}
