<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ title }} - {{brand_name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/intro_assets/img/favicon.png" rel="icon">
  <link href="/static/intro_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/intro_assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/intro_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/intro_assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">{{brand_name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#about">О нас</a></li>
          <li><a class="nav-link scrollto" href="#services">Услуги</a></li>
          <li><a class="nav-link scrollto" href="#team">Комманда</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакты</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Преумножить свои инвестиции с нами может каждый</h1>
                <h2>На нашей удобной платформе вы не нуждаетесь в сложных знаниях о бирже</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Приступим</a>
                </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/static/intro_assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

          <div class="row" data-aos="zoom-in">

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                  <img src="/static/intro_assets/img/technologies/Python.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-4 col-md-4 col-6 d-flex align-items-center justify-content-center">
                  <img src="/static/intro_assets/img/technologies/Tensorflow.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                  <img src="/static/intro_assets/img/technologies/Flask.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-4 col-md-4 col-6 d-flex align-items-center justify-content-center">
                  <img src="/static/intro_assets/img/technologies/React.png" class="img-fluid" alt="">
              </div>
          </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>О нас</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
              <p>
                  Проект StockG состоит в предоставлении удобной платформы для широкого круга людей заинтересованных в инвестировании своих финансов в компании, индексы, валюты и другое на бирже.
              </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                  Наша платформа имеет 3 ключевые части:
              </p>
              <ul>
                  <li><i class="ri-check-double-line"></i> Предсказателя, который предоставит информацию о развитии рынка в будущем</li>
                  <li><i class="ri-check-double-line"></i> Советчика, который даёт советы о действиях</li>
                  <li><i class="ri-check-double-line"></i> Трейдера, который осуществляет покупку/продажу за пользователя</li>
              </ul>
              <a href="#services" class="btn-learn-more">Узнать больше</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Почему <strong>StockG</strong></h3>
              <p>
                Вы больше не должны бояться потерять ваши инвестиции из-за не правильных предположений. 
              </p>
            </div>

            <div class="accordion-list">
                <ul>
                    <li>
                        <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Компьютер всегда лучше в работе с большим набором данных <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                            <p>
                                StockG вам предоставляет советы и действия основанные на огромном количестве исторических данных и других факторов.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Новейшие технологии AI  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                            <p>
                                Ансамбль моделй искусственного интеллекта неустанно совместно учатся. Модели сосредоточенные на конкретные задачи соеденины в глобальную сеть помогая друг другу в нахождении оптимальных решений.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Удобный в использовании <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                            <p>
                                Мобильное приложение и вебсайт с настройкой среды точно по приоритетам пользователя его навыкам и целям.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Высшая мера безопастности <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                            <p>
                                С нами вы можете забыть про страх потери личных данных или средств. Ваша безопастость наш приоритет и мы используем передовые технологии для её поддержания.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/static/intro_assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="/static/intro_assets/img/skills.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Технологии которые мы используем</h3>
            </br>
            <div class="skills-content">

              <div class="progress">
                <span class="skill">Python</span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Tensorflow</span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">React Native</span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Java Script</span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Услуги</h2>
          <p>В зависимости от ваших пожеланий вы можете выбрать услуги для преумножения вашего капитала самым удобным для вас образом.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" style="margin-left: auto">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-line-chart'></i></div>
              <h4>Предсказатель</h4>
              <p>Узнвйте о развитии рынка который вас интересует в будущем для принятия правильных действий</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-network-chart'></i></div>
              <h4>Советчик</h4>
              <p>Наш умный помошник вам может подавать сигналы о самых выгодных действиях</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300" style="margin-right: auto">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-pie-chart-alt-2'></i></div>
              <h4>Трейдер</h4>
              <p>После настройки ваших параметров вы можете полностью посветиться другим вещам и только наблюдать за ростом цены вашего портфеля</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Команда</h2>
          <p>Наша комманда состоит из одарённых и вдохновленных людей с обширными знаниями в IT и инвестицировании</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="/static/intro_assets/img/team/ivan-a.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                  <h4>Иван Аникин</h4>
                  <span>Product Manager</span>
                  <p>Вдохновлён IT, технологиями, наукой, искусством, музыкой, чтением и путешествование</p> <!--Passionate about IT, technologies, art, reading and traveling-->
                  <div class="social">
                      <a href="https://supercoolserver.azurewebsites.net/api/Default/About_Me"><i class="ri-window-fill"></i></a>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="/static/intro_assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Алеся</h4>
                <span>Product Owner</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="/static/intro_assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Иван</h4>
                <span>Product Manager</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Цены</h2>
          <p>Вы можете выбрать план оплаты который подойдёт точно для вас</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Начальный план</h3>
              <h4><sup>$</sup>20<span>в месяц</span></h4>
              <ul>
                  <li><i class="bx bx-check"></i> Предсказывания развития цен ограниченного количества компаний </li>
                  <li><i class="bx bx-check"></i> 2 сигнала рекомендации в месяц </li>
                  <li class="na"><i class="bx bx-x"></i> <span> Расширенные настройки </span></li>
                  <li class="na"><i class="bx bx-x"></i> <span> Использование трейдера </span></li>
                  <li class="na"><i class="bx bx-x"></i> <span> Ранок криптовалют </span></li>
              </ul>
              <a href="#" class="buy-btn">Начать</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Стандартный план</h3>
              <h4><sup>$</sup>50<span>в месяц</span></h4>
              <ul>
                  <li><i class="bx bx-check"></i> Предсказывания развития цен 10 любых компаний и индексов </li>
                  <li><i class="bx bx-check"></i> До 20 сигналов рекомендации в месяц с расширенными модификациями </li>
                  <li><i class="bx bx-check"></i> Дополнительные способы отображения </li>
                  <li><i class="bx bx-check"></i> Расширенные настройки </li>
                  <li><i class="bx bx-check"></i> Использование трейдера </li>
                  <li class="na"><i class="bx bx-x"></i> <span> Ранок криптовалют </span></li>
              </ul>
              <a href="#" class="buy-btn">Начать</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Професиональный план</h3>
              <h4><sup>$</sup>100<span>в месяц</span></h4>
              <ul>
                  <li><i class="bx bx-check"></i> Предсказывания развития цен не ограниченного количества компаний, индексов и криптовалют</li>
                  <li><i class="bx bx-check"></i> Рекомендации в месяц с полным ассортиментом модификаций </li>
                  <li><i class="bx bx-check"></i> Професиональные техники слежения за развитием рынка </li>
                  <li><i class="bx bx-check"></i> Полные настройки всей платфомы </li>
                  <li><i class="bx bx-check"></i> Безограниченное использование трейдера </li>
                  <li><i class="bx bx-check"></i> Все услуги и для крипторынка </li>
              </ul>
              <a href="#" class="buy-btn">Начать</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Частые вопросы</h2>
          <p>Если вы не нашли ответа на ваш вопрос тут, наша служба поддерки вам всегда с удовольствием придёт на помошь</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контакты</h2>
          <p>В случае лююых вопросов нас контактируйте в фомре находящейся ниже, либо воспользуйтесть связью по телефону или имейлу</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Адрес главного оффиса:</h4>
                <p>Moukulíkova 155000, 150 00 Praha 5-Smíchov</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ivan.anikin@outlook.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон:</h4>
                <p>+420 730 953 393</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Ваше мия</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Ваш имейл</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Тема</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Сообщение</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение было отправлено</div>
              </div>
              <div class="text-center"><button type="submit">Отправить сообщение</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
          <p>&copy; {{ year }} - {{brand_name}}</p>
      </div>
      <div class="credits">

      </div>
    <!--</div>-->
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/intro_assets/vendor/aos/aos.js"></script>
  <script src="/static/intro_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/intro_assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/intro_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/intro_assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/intro_assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/intro_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/intro_assets/js/main.js"></script>

</body>

</html>